<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Boostrap</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">

</head>
<body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="imagenes\logo.jpg" alt="" width="200px"></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item h4">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item h4">
                <a class="nav-link" href="registro-form.html">Memes</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
<section id="contenido">
      <header id="hedear">
          <div class="container mt-5">
              <div class="row">
                  <div class="col-md-6">
                      <div class="header-content-left">
                          <img src="imagenes/yoyo.jpg" style="width: 100%; height: 450px;">
                      </div>

                  </div>
                  <div class="col-md-6 my-auto">
                      <div class="header-content-right">
                          <h1>¡Hola! ¡Bienvenido a un poco de Mi!</h1>
                          <h2 class="mt-5">Mi nombre es Heicha Franchesca Pozo Mieses.</h2>
                          <h2>Matricula: 2019-8875</h2>
                          <h2>Correo: heichapozo@gmail.com</h2>

                      </div>
                </div>

              </div>

          </div>

      </header>
      </section>

      <div class="clear"></div>
      <section id="lugarFav">
        <div class="container mt-5">
          <h1 class="mt-8">Uno de mis lugares favoritos</h1>
          <h3>Paris:</h3>
        </div>

      </section>

      <section>

      <article class="mt-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="imagenes/paris.jpg" class="d-block w-100" height="500px">
              </div>
              <div class="carousel-item">
                <img src="imagenes/barrio.jpg" class="d-block w-100" height="500px">
              </div>
              <div class="carousel-item">
                <img src="imagenes/plaza.jpeg" class="d-block w-100" height="500px">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

    </article>

    <article>
      <p class="text-center mt-5 h5">
        Paris es una ciudad de Francia que me gustaría visitar algún día. París, la capital de Francia, 
        es una importante ciudad europea y un centro mundial del arte, la moda, la gastronomía y la cultura.
        Su paisaje urbano del siglo XIX está entrecruzado por amplios bulevares y el río Sena. Aparte de estos
        hitos, como la Torre Eiffel y la catedral gótica de Notre Dame del siglo XII, la ciudad es famosa por 
        su cultura del café y las tiendas de moda de diseñador a lo largo de la calle Rue du Faubourg Saint-Honoré.
    </p>

    <p class="text-center h5"> 
        La Ciudad de la Luz, la Ciudad del Amor, son tantos y tantos los calificativos que se
         le han atribuído a París desde siempre, 
        que resultaría imposible hacer un resumen de todos ellos.
    </p>
    <p class="text-center h5">
        Ciudad esplendorosa, vibrante, ciudad de la moda y los grandes gourmets, ciudad de amplias avenidas y
         plazas de esplendor, monumentos y edificios históricos, los mejores museos, París tiene todo lo que
        buscáis. Tanto de día como de noche, la magia del Sena irrumpe con fuerza, y no hay rincón de la ciudad que no 
        os asombre.
    </p>

    <p class="text-center h5">
        Si por algo es famoso el clima de París es que te puede llover de la misma manera tanto en verano como 
        en invierno. Es decir, no hay en sí una estación seca. Las temperaturas suelen ser suaves, con unos veranos
        que se pueden superar a veces los 30 grados, pero casi nunca los 35, y un invierno con temperaturas medias de unos 5 grados. 
        Suele llover más que nevar, así que tal vez primavera y otoño sean las mejores épocas para viajar a París.
    </p>
    </article>
</section>

<aside>
  <nav id="navbar-example3" class="navbar navbar-dark bg-dark">
    <a class="navbar-brand h2">Paginas favoritas</a>
    <nav class="nav nav-pills flex-column">

        <li><a class="nav-link ml-3 my-1"  href="https://www.netflix.com/do/">Netflix</a></li>
        <li><a class="nav-link ml-3 my-1" href="https://www.youtube.com/">Youtube</a></li>
        <li><a class="nav-link ml-3 my-1" href="https://www.instagram.com/?hl=es-la">Instagram</a></li>
        <li><a class="nav-link ml-3 my-1" href="https://www.pinterest.es/">Pinterest</a></li>
        <li><a class="nav-link ml-3 my-1" href="https://pelis24.blog/">Pelis24</a></li>
  </nav>
  </aside>

<footer>
    <div id="footer" class="p-5">
    <div class="row justify-content-md-center py-5">
        <div class="col text-center font-weight-Light">
            <p>San Cristobal, Haina, Cruce el carril, Calle Florencio de León</p>
            <p>heichapozo@gmail.com</p>
            <p>829-592-1966</p>
            copyright &copy; 2021
        </div>
    </div>
    </div>
</footer>

<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>